.footer {
    /* background-color: rgba(0, 0, 0, 0.05);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;

    text-align: center;
    margin-top: 150px; */
}